/* #region page */
:root {
  --menu-color: #1D1D1D;
}

.page {
  font-family: "Poppins", sans-serif;
  color: #FFFFFF;
  scroll-behavior: smooth;
}

.page__body {
  margin: 0;
  background-color: rgb(109, 168, 197);
}

.page__menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  pointer-events: none;
}

.page__menu:target {
  opacity: 1;
  pointer-events: all;
}
/* #endregion */
/* #region header */
.header {
  box-sizing: border-box;
  padding: 24px 20px 88px;
  height: 100vh;
  background-image: url(imeges/header-bg-phone.png);
  background-size: cover;
  background-position: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__icons{
  display: flex;
  gap: 24px;
}

.logo {
  display: flex;
}

.header__title {
  margin: 0;
  font-weight:700;
  line-height: 36px;
  font-size: 36px;
  letter-spacing: -1.5px;
  text-align: center;
}
/* #endregion */
/* #region menu */
.menu {
  box-sizing: border-box;
  padding: 24px 20px 88px;
  height: 100vh;
  background-color:#C2C2C2;
  font-weight: 600;
  text-transform: uppercase;
}

.menu__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__phone-number {
  color: var(--menu-color);
}

.menu__call-to-testride {
  color: var(--menu-color);
}
/* #endregion */
/* #region nav */
.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.nav__link {
  color: var(--menu-color);
}
/* #endregion */
/* #region icon */
.icon {
  display: block;
  height: 24px;
  width: 24px;
}
/* #endregion */