body {
  margin: 0;
  background-color: green;
}

.stars {
  padding: 22px;
  background-color: white;
  display: inline-block;
}

.stars-block {
  display: flex;
}

.stars__star {
  width: 16px; 
  height: 16px; 
  background-image: url(imeges/star.svg); 
  background-size: cover;
  margin-right: 4px;
  margin-bottom: 4px;
}

.stars-block.stars--5:last-child .stars__star {
  margin-bottom: 0;
}

.stars__star:last-child {
  margin-right: 0;
}

.stars-block.stars--0 .stars__star:nth-child(1),
.stars-block.stars--1 .stars__star:nth-child(1),
.stars-block.stars--1 .stars__star:nth-child(2),
.stars-block.stars--2 .stars__star:nth-child(1),
.stars-block.stars--2 .stars__star:nth-child(2),
.stars-block.stars--2 .stars__star:nth-child(3),
.stars-block.stars--3 .stars__star:nth-child(1),
.stars-block.stars--3 .stars__star:nth-child(2),
.stars-block.stars--3 .stars__star:nth-child(3),
.stars-block.stars--3 .stars__star:nth-child(4),
.stars-block.stars--4 .stars__star:nth-child(1),
.stars-block.stars--4 .stars__star:nth-child(2),
.stars-block.stars--4 .stars__star:nth-child(3),
.stars-block.stars--4 .stars__star:nth-child(4),
.stars-block.stars--5 .stars__star:nth-child(1),
.stars-block.stars--5 .stars__star:nth-child(2),
.stars-block.stars--5 .stars__star:nth-child(3),
.stars-block.stars--5 .stars__star:nth-child(4),
.stars-block.stars--5 .stars__star:nth-child(5) {
    background-image: url(imeges/star-active.svg); 
}

.stars__star:nth-child(n+1) {
  background-image: url(imeges/star.svg);
}